/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
}
*/
input.text-input{
    height: 26px;
    line-height: 26px;
    padding: 5px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

/*colors*/
.tc-red{
  color: #E45175;
}
.navbar-default .navbar-nav>li>a.tc-red{
  color: #E45175;
}
#navbar{
  line-height: 80px;

}
.nav-beta{
  color: #888;
}
.navbar-nav{
  padding-top: 18px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: #189fe5;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar{
  /*border-bottom: solid 2px #999;*/
  box-shadow: 0px 1px 10px #E2E2E2;
  background-color: white;
  height: 85px;
}
.glyphicon{
  margin-right: 5px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 85px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  /*margin-bottom: 20px;*/
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.second-nav{
   list-style: none;
}
/*.nav .first-nav:hover .second-nav{
  display: block;
  list-style: none;
}
*/
.second-nav a{
  color: #999;
}
.second-nav .active a{
  color: #428bca;
  font-weight: 700;
}
.nav .second-nav{
  display: none;
}
.nav .active .second-nav{
  display: block;
}

.nav .second-nav li a{
  padding: 5px;
  margin-bottom: 1px;
  display: inline-block;
}

/*.nav .second-nav li:hover a{
  background: #428bca;
  color: white;
  text-decoration: none;
}*/
/*
 * Main content
 */

.main {
  padding-top: 85px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*search banner*/
.btn.btn-search{
  padding: 2px 12px;
  background: #189fe5;
  color: white;
}
.search-banner{
  line-height: 30px;
}
.page-banner{
  /*background-color: #189fe5;*/
  margin-bottom: 20px;
}
.page-nav{
  text-align: right;
}
.page-nav a{
  margin-right: 8px;

}