/*顶部导航栏*/
.navbar-default .navbar-nav>li>a.tc-green{
  color: #25c8b8;
}
#navbar{
  line-height: 80px;
}
.nav-beta{
  color: #888;
  font-size: 14px;
}
.navbar-fixed-top{
  height: 85px;
}
.navbar-fixed-top .navbar-inner {
  border: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  border-bottom: solid 2px #25aad8;
  background-color: white;
  height: 85px;
  box-shadow: 0 0 0;
}
.navbar .nav{
  position: absolute;
  right: 20px;
  left: auto;
  top: 20px;
}
/*侧边栏*/
.sidebar {
  position: fixed;
  top: 85px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  width: 230px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /*margin-bottom: 20px;*/
  margin-left: -20px;

}
.nav-sidebar > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-right: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar .second-nav li:hover,
.nav-sidebar .first-nav .first-nav-text:hover{
  color: #fff;
  background-color: #2ca6e0;;
}
.nav-sidebar .second-nav li:hover a{
	color: white;
	text-decoration: none;
}
 /*一级菜单*/

.first-nav .first-nav-text{
  line-height: 30px;
  padding-left: 70px;
  color: #717071;
}
.first-nav .first-nav-text .glyphicon{
  font-size: 18px;
  vertical-align: -2px;
  margin-right: 15px;
}

/*二级菜单*/
.second-nav{
	list-style: none;
  padding-left: 0;
}
.second-nav li{
	background: #dae7ed;
	color: #717071;
	padding-left: 100px;
	border-bottom: 1px solid #c8c9ca;
	line-height: 28px;	
}
.second-nav a{
  color: #999;
}
.second-nav .active a{
  color: #428bca;
  font-weight: 700;
}
.nav .second-nav{
  display: none;
  margin-left: 0;
}
.nav .active .second-nav{
  display: block;
}
.second-nav .active{
	background: white;
	color: #036eb7;
}
.nav .second-nav li a{
  padding: 5px;
  margin-bottom: 1px;
  display: inline-block;
}
